<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Groupomania | Social Network</title>
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/loginPage.css">

  </head>
  <body>
    <header>
      <img class="logo" src="pictures/logos/icon.svg" alt="Logo Groupomania">
      <h1>Groupomania</h1>
    </header>
    <div id="app" class="page">
      <div class="slogan">
        <h2>Social<br /><span>Network</span></h2>

      </div>
      <section v-if="route === 'login'">
        <article class="boxForm">
          <form id="login" action="app.html" method="post" @submit.prevent="submitSignup">
            <div class="line">
              <h3>Connexion</h3>
            </div>
            <div class="line">
              <!--<p><label for="email">email :</label></p>-->
              <p><input type="text" name="email" id="email" placeholder="Email" size="25" maxlength="255" required v-model="email"/></p>

            </div>
            <div class="line">
              <!--<p><label for="password">mot de passe :</label></p>-->
              <p><input type="password" name="password" id="password" placeholder="Mot de passe" size="25" maxlength="255" required v-model="password"/></p>

            </div>
            <div class="line">
              <p v-on:click="route = 'signup'" class="a">{{ message }}</p>
            </div>
            <div class="line">
              <input class="button" type="submit" value="Envoyer" />
            </div>
          </form>

        </article>
      </section>

      <!--Signup-->
      <section v-if="route === 'signup'">
        <article class="boxForm">
          <form id="signup" @submit.prevent="submitSignup">
            <div class="line">
              <h3>Créez un compte</h3>
            </div>
            <div class="line">
              <!--<p><label for="email">email :</label></p>-->
              <p><input type="email" name="email" id="email" placeholder="Email" size="25" maxlength="255" required v-model="newEmail"/></p>

            </div>
            <div class="line">
              <!--<p><label for="email">email :</label></p>-->
              <p><input type="text" name="email" id="email" placeholder="Votre nom d'utilisateur" size="25" required maxlength="255" v-model="newUserName" /></p>

            </div>
            <div class="line">
              <!--<p><label for="password">mot de passe :</label></p>-->
              <p><input type="password" name="password" id="password" placeholder="Mot de passe" size="25" required maxlength="255" v-model="newPassword" /></p>

            </div>
            <div class="line">
              <!--<p><label for="password">mot de passe :</label></p>-->
              <p><input type="password" name="confirm_password" id="confirm_password" placeholder="Confirmez votre mot de passe" size="25" required maxlength="255" v-model="confirmPassword" /></p>

            </div>
            <div class="line">
              <p class="error" v-if="this.newPassword !== this.confirmPassword" >Vos deux mot de passes ne sont pas identiques !</p>
            </div>
            <div class="line">
              <input class="button" type="submit" value="Inscription"/>
            </div>
            <div class="line">
              <p v-on:click="route = 'login'" class="a">Vous connectez</p>
            </div>
          </form>

        </article>
      </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrsasign/8.0.20/jsrsasign-all-min.js"></script> <!-- Pour JWT-->
    <script type="text/javascript">

    </script>
    <script>
    //console.log(Vue);
      const app = new Vue({
        el: "#app",
        data: {
          message: 'Vous n\'avez pas encore de compte ? Créez-en un !',
          route: 'login',
          email: '',
          password: '',
          newEmail: '',
          newUserName: '',
          newPassword: '',
          confirmPassword: '',
        },
        methods: {
          submitSignup() {
            if (this.route === 'login') {
              axios.post('http://localhost:3000/' + this.route, {
                email: this.email,
                password: this.password
              })
              .then(function (res) {
                console.log(res.data);
                localStorage.setItem("token", res.data.token)
              });

            }else if (this.route === 'signup') {
              axios.post('http://localhost:3000/' + this.route, {
                email: this.newEmail,
                username: this.newUserName,
                password: this.newPassword
              })
              .then(function (res) {
                console.log('Nouvelle utilisateur enregistré !');
              });
              this.route = 'login'
              this.message = 'Vous pouvez vous connecter avec votre e-mail' + this.newEmail + ' et votre mot de passe que vous venez de choisir. Ou vous pouvez créer un nouveau compte en cliquant ici.'

            }
          }
        },

      });

    </script>
  </body>
</html>
