<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/master.css">
    <title></title>
  </head>
  <body>
    <header class="app">
      <img class="logo" src="pictures/logos/icon.svg" alt="Logo Groupomania">
      <h1 class="logo_gsm">G<span>S</span>N</h1>
      <h1 class="logo_desk" >Groupomania <span>Social </span>Network</h1>
    </header>

    <div id="app">

      <div class="newPost">
        <form id="newPost" @submit.prevent="submitPost">
          <div class="newPostText">
            <input type="text" name="title" placeholder="Titre" required v-model="title">
            <textarea name="message" placeholder="Nouveau message" required v-model="message"></textarea>
          </div>
          <input class="button" type="submit" value="Envoyer" />
        </form>
      </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      new Vue({
        el: '#app',
        data: {
          title: '',
          message: '',
          myUser: 2, // utiliser l'id du token
        },
        methods: {
          submitPost() {
            console.log('go');
            axios.post('http://localhost:3000/message/new/' + this.myUser, {
              title: this.title,
              message: this.message
            })

          }
        },

      })

    </script>
  </body>
</html>
