@import "minireset.scss";
$color1: #fd2d01;
$color2: #040404;
$colorBtn: #3498db;
$backgrounColor1: white;
$backgrounColor2: rgba(255, 255, 255, .8);
$backgroundTransparent: rgba(255, 255, 255, 0);
@font-face {
    font-family: 'nevis-FontZillion';
    src: url('../fonts/nevis-FontZillion/Fonts/nevis.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

* {
  font-family: sans-serif;
}

h1 {
  font-family: "nevis-FontZillion";
  font-size: 5em;
  color: $color1;
}
h2 {
  font-family: "nevis-FontZillion";
  font-size: 7em;
  color: $backgrounColor1;
  font-weight: 400;
  span {
    font-weight: 100;
    color: $color1;
    position: relative;
    top: 114px; right: 160px;
  }
}
h3 {
  font-size: 4em;
  font-weight: bold;
}
p {
  font-size: 2.5em;
}

a, .a {
  color: $colorBtn;
  text-decoration: underline;
  cursor: pointer;
  &:hover{
    text-decoration: none;
  }
}

body {
  background-image: url("../pictures/wallpaper_gsm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
header {
  padding: 2em;
  display: flex;
  background-color: $backgrounColor1;
}

.logo {
  width: 10%;
  height: 10%;
}

.slogan {
  margin: 4em 0 0 5em;
}

.boxForm {
  padding: 0.5em;
  margin: 15em 3em 3em 3em;
  background-color: $backgrounColor2;
}

input {
  font-size: 0.7em;
  padding: 1em;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 4px;
  border-bottom-color: $color2;
  background-color: $backgroundTransparent;

}
.line{
  margin: 3em;
  display: flex;
  justify-content: center;
}

input[type="submit"]{
  border-radius: 50% 20% / 10% 40%;
  padding: 1.5em;
  cursor:pointer;
  font-weight: bold;
  color: $backgrounColor1;
  font-size: 2em;
  background-color: $colorBtn;
  border-width: 0;
}
